@model IEnumerable<StockMaster.Models.Ordenes>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Órdenes</h2>

    <a asp-action="Create" class="btn btn-primary">
        + Nueva Orden
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Folio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Folio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @item.Total.ToString("C")
            </td>
            <td class="text-nowrap">
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-outline-info">
                    🔍
                </a>

                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-danger">
                    🗑️
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
